apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  selector:
    matchLabels:
      app: myapp
  replicas: 2
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: tomcat-app
        image: tomcat:latest
        ports:
        - containerPort: 8080
      - name: elasticsearch
        image: elasticsearch:latest
        ports:
        - containerPort: 8080
      - name: postgres-db
        image: postgres:latest
        ports:
        - containerPort: 5432
